option_settings:

  # Listener Configuration
  aws:elbv2:listener:443:
    ListenerEnabled: true
    DefaultProcess: Dashboard
    Protocol: HTTP  # Add a SSLCertificateArns to change to HTTPS
    Rules: GraphQLRule,WebsocketRule
    SSLCertificateArns: null  

  aws:elbv2:listener:default:  # disable port 80
    ListenerEnabled: false 
    DefaultProcess: default
    Protocol: HTTP

  # Processor Configuration
  aws:elasticbeanstalk:environment:process:GraphQLProcess:
    Port: '5000'
    Protocol: HTTP
    HealthCheckPath: /graphql
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'
    MatcherHTTPCode: '405'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    HealthCheckTimeout: '5'
    StickinessEnabled: false


  aws:elasticbeanstalk:environment:process:Dashboard:
    Port: '8080'
    Protocol: HTTP
    HealthCheckPath: /dashboard
    DeregistrationDelay: '20'
    MatcherHTTPCode: '200'
    HealthCheckInterval: '15'
    HealthyThresholdCount: '3'
    HealthCheckTimeout: '5'
    UnhealthyThresholdCount: '5'
    StickinessEnabled: false


  aws:elasticbeanstalk:environment:process:Websocket:
    Port: '5002'
    Protocol: HTTP
    HealthCheckPath: /socket.io/
    DeregistrationDelay: '20'
    MatcherHTTPCode: '400'
    HealthCheckInterval: '15'
    HealthyThresholdCount: '3'
    StickinessEnabled: false
    HealthCheckTimeout: '5'
    UnhealthyThresholdCount: '5'
    StickinessEnabled: false

   

  # Rules Configuration
  aws:elbv2:listenerrule:GraphQLRule:
    PathPatterns: /graphql*
    Priority: '1'
    Process: GraphQLProcess

  aws:elbv2:listenerrule:WebsocketRule:
    PathPatterns: /socket.io/*
    Priority: '2'
    Process: Websocket

  # Additional Load Balancer Settings
  aws:elb:policies:
    ConnectionDrainingEnabled: true
  aws:elb:loadbalancer:
    CrossZone: true
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
